.App {
  text-align: center;
  font-family: Arial, sans-serif;
  width: 30%;
  margin: auto auto;
}

.stopwatch {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
}

.time {
  font-size: 24px;
  margin: 20px;
}

.controls button {
  font-size: 16px;
  margin: 5px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.controls button:hover {
  background-color: #0056b3;
}
